# Ignore everything
*


# Include specific files or directories
!.gitignore
!README.md

# Nvim
!nvim/
!nvim/**
nvim/lazy-lock.json
nvim/lazyvim.json

# Wezterm
!wezterm/
!wezterm/**

# Zed
!zed/
!zed/**

# RustRover (maybe saving this using GitHub is a bad idea)
# !JetBrains/RustRover2024.3/codestyles
# !JetBrains/RustRover2024.3/options
# !JetBrains/RustRover2024.3/keymaps
!JetBrains/**

# Fish shell
!fish/
!fish/*

# Kitty terminal
!kitty/
!kitty/*

# KDE 
!KDE/
!KDE/*
!kde.org/
!kde.org/*
!plasma-workspace/
!plasma-workspace/*
!kdedefaults/
!kdedefaults/*
!kate/
!kate/*
!kdeglobals


# Haruna
# !haruna/
# !haruna/*
!haruna/shortcuts.conf

# VLC
!vlc
!vlc/*

# Git
!.gitconfig

# Kanata
!kanata
!kanata/*
